name: Cypress demo tests
on:
  push:
  workflow_dispatch:
  schedule:
    # run at minute 5 past every 4th hour from 0 through 23
    - cron: "5 0/4 * * *"
jobs:
  cypress-demo:
    name: Cypress on Google Chrome 114
    runs-on: ubuntu-latest
    container: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
    # stop the job if it runs over 115 minutes
    # to prevent a hanging process from using CI minutes
    timeout-minutes: 115
    steps:
      - name: Delete workflow runs older than one week
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 10
      - name: Checkout
        uses: actions/checkout@v3
      # install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: npm ci --production
          start: npm run cypress:run:chrome
        continue-on-error: true
      - name: Create report folder
        run: mkdir -m777 public
      - name: Copy test execution videos to report
        run: cp -r cypress/videos public
      - name: Merge test results into one
        run: npm run report:merge
      - name: Generate HTML report
        run: npm run report:generate
      # report includes videos
      - name: Upload artifacts report
        uses: actions/upload-artifact@v4
        with:
          name: cypress-report
          path: public
          if-no-files-found: ignore
      # screenshots will only be generated on failures
      - name: Upload artifacts screenshots
        uses: actions/upload-artifact@v3
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore
      - name: Upload artifacts fixtures
        uses: actions/upload-artifact@v3
        with:
          name: cypress-fixtures
          path: cypress/fixtures
          if-no-files-found: ignore
      - name: Deploy Cypress report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          destination_dir: docs
